/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/



/*Kode CSS*/
body{
    background-color: grey;
}

.jumbotron h1{
    font:bold;
    color:black;
    font-family: Verdana;
}

.jumbotron p{
    color: gray-dark;
    font-family: Verdana;
    font-size: 18px;
}
.jumbotron img{
    width: 400px;
}

.container .ma li{
    text-decoration: none;
    display: table;
}
.ma a{
    text-decoration: none;
    color: black;
    
}
.ma a:hover{
    background-color: gray;
}
.ma{
    padding: 20px;
}


.heder{
    padding: 20px;
}

.heder .judul{
    font: bold;
    color: black;
}

.heder a{
    text-decoration: none;
    color: black;
}
.heder a:hover{
    background-color: darkgray;
}

.min{
    color: black;
    font: bold;
    font-family: Verdana;
    font-size: 15px;
}


.container .Disen{
    font-size: 25 px;
    font: bold;
    text-align: center;
    padding: 20px;
}
.container .texs{
    padding: 50px;
}
.container .paragrap{
    font-size: 25 px;
    font: bold;
    text-align: center;
    padding: 20px;
    color: black;
}

/*Gambar*/
.gambar img{
    width: 750px;
    height: 450px;
    justify-content: center;
}
.gambar p{
    padding: 50px;
}

/*Akhir gambar*/
.passs{
    padding: 30px;
}
/*Slid*/
.slid{
    padding: 50px;
}
.stockk h5 p{
    font: bold;
    font-family: Verdana;
}
.stockk p{
    color: white;
}
.instal h5 p{
    color:black;
    font-family: Verdana;
    font:bold;
}
/*Akhir Slid*/

/* copy */
footer{
    background-color: rgb(26, 26, 26);
    height: 120px;
    box-shadow:5px 2px 12px rgb(20, 33, 44);
}
footer p{
    color: white;
}
footer .far{
    text-align: center;
    padding: 20px;
}

/* Akhir Copy */